{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Vetting 2024-25 Portal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'students/css/cvvettingportal.css' %}">
</head>

<body>
    <div class="container">
        <div class="title-container text-center mb-4">
            <h2 class="title">CV Vetting <span class="title-year">2024-25</span> Portal</h2>
        </div>
        <div class="table-header">
            <h4 class="slots-header">Slots for Today</h4>
            <i id="datePickerIcon" class="fas fa-calendar-alt date-picker-icon" data-toggle="tooltip" data-placement="top" title="Select a date to filter slots"></i>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Roll Number</th>
                    <th>Name</th>
                    <th data-toggle="tooltip" title="Click on A, B, or C to view the corresponding CV Variant">CV</th>
                    <th>Contact</th>
                    <th>Proofs</th>
                    <th>Repository</th>
                    <th>Vetting Status</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr class="row-revetting-{{ item.revetting_status|lower }}">
                    <td>{{ item.roll_number }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                        <div class="cv-variants">
                            <span class="cv-variant {% if item.variant_a %}has-data{% else %}no-data{% endif %}">
                                <a href="{{ item.variant_a }}" target="_blank">A</a>
                            </span>
                            <span class="cv-variant {% if item.variant_b %}has-data{% else %}no-data{% endif %}">
                                <a href="{{ item.variant_b }}" target="_blank">B</a>
                            </span>
                            <span class="cv-variant {% if item.variant_c %}has-data{% else %}no-data{% endif %}">
                                <a href="{{ item.variant_c }}" target="_blank">C</a>
                            </span>
                        </div>
                    </td>
                    <td>
                        <i class="fas fa-phone contact-icon" onclick="showContactDetails('{{ item.phone_number }}', '{{ item.email_address }}')" data-toggle="tooltip" title="Contact Details"></i>
                    </td>
                    <td>
                        <a href="{{ item.proofs }}" class="proof-icon" title="Proofs Drive Link" target="_blank">
                            <i class="fas fa-clipboard"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{{ item.repository }}" class="repository-icon" title="Repository Document" target="_blank">
                            <i class="fas fa-folder-open"></i>
                        </a>
                    </td>
                    <td>
                        <div class="dropdown">
                            <span class="vetting-status-container vetting-status-{{ item.vetting_status|lower }}" onclick="toggleDropdown(this)">
                                {{ item.vetting_status }}
                            </span>
                            {% if item.vetting_status == 'Discrepancy' %}
                            {% if item.is_due %}
                            <img src="{% static 'students/images/discrepancy_deadline.gif' %}" class="due-indicator" onclick="showModal('{{ item.roll_number }}')">
                            {% endif %}
                            {% endif %}
                            {% if item.vetting_status == 'Revetting' %}
                            {% if item.revetting_status == 'Yes' %}
                            <img src="{% static 'students/images/tick.gif' %}" class="revetting-icon">
                            {% elif item.revetting_status == 'No' %}
                            <img src="{% static 'students/images/cross.gif' %}" class="revetting-icon">
                            {% endif %}
                            {% endif %}
                            <div class="dropdown-menu">
                                {% if item.vetting_status != 'Discrepancy' %}
                                <a class="dropdown-item dropdown-item-red" onclick="updateVettingStatus('{{ item.roll_number }}', 'Discrepancy')">Discrepancy</a>
                                {% endif %}
                                {% if item.vetting_status != 'Rescheduled' %}
                                <a class="dropdown-item dropdown-item-pink" onclick="updateVettingStatus('{{ item.roll_number }}', 'Rescheduled')">Rescheduled</a>
                                {% endif %}
                                {% if item.vetting_status != 'Revetting' %}
                                <a class="dropdown-item dropdown-item-yellow" onclick="updateVettingStatus('{{ item.roll_number }}', 'Revetting')">Revetting</a>
                                {% endif %}
                                {% if item.vetting_status != 'Cancelled' %}
                                <a class="dropdown-item dropdown-item-black" onclick="updateVettingStatus('{{ item.roll_number }}', 'Cancelled')">Cancelled</a>
                                {% endif %}
                                {% if item.vetting_status != 'Vetted' %}
                                <a class="dropdown-item dropdown-item-green" onclick="updateVettingStatus('{{ item.roll_number }}', 'Vetted')">Vetted</a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                    <td class="reset-icon-column no-border">
                        <i class="fas fa-redo-alt reset-icon" data-toggle="tooltip" title="Reset Slot" data-index="0"></i>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modals -->
    {% include 'students/modals/contact_modal.html' %}
    {% include 'students/modals/discrepancy_modal.html' %}


<!-- Include jQuery and Bootstrap JS for modal functionality -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="{% static 'students/js/cvvettingportal.js' %}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const resetIcons = document.querySelectorAll('.reset-icon');

        resetIcons.forEach(icon => {
            icon.addEventListener('click', function () {
                const row = icon.closest('tr');
                const rollNumber = row.querySelector('td:first-child').textContent.trim();
                const vettingStatusCell = row.querySelector('.vetting-status-container');

                if (vettingStatusCell) {
                    // Update the UI immediately
                    vettingStatusCell.textContent = 'Pending';
                    vettingStatusCell.className = 'vetting-status-container vetting-status-pending';

                    // Make an AJAX call to update the status in the database
                    $.ajax({
                        url: '{% url "cv_vetting_portal" %}',  // Django URL for resetting vetting status
                        method: 'POST',
                        data: {
                            'roll_number': rollNumber,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'  // Ensure CSRF token is included
                        },
                        success: function (response) {
                            if (response.success) {
                                console.log('Vetting status updated successfully.');
                                location.reload();  // Reload the page
                            } else {
                                console.error('Failed to update vetting status.');
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error('AJAX request failed:', error);
                        }
                    });
                }
            });
        });
    });
</script>

<script>
    function toggleDropdown(element) {
        var dropdownMenu = $(element).siblings('.dropdown-menu');
        var offset = $(element).offset();
        var menuHeight = $(dropdownMenu).outerHeight();
        var windowHeight = $(window).height();

        // Calculate the dropdown position
        if (offset.top + menuHeight > windowHeight) {
            $(dropdownMenu).css({
                top: 'auto',
                bottom: '0'
            });
        } else {
            $(dropdownMenu).css({
                top: '50%',
                bottom: 'auto'
            });
        }

        $('.dropdown-menu').not(dropdownMenu).removeClass('show');
        $(dropdownMenu).toggleClass('show');

        $(dropdownMenu).css({
            position: 'fixed',
            left: offset.left + $(element).outerWidth(),
            top: offset.top - $(window).scrollTop()
        });

        // Conditional logic for dropdown options
        var currentStatus = $(element).text().trim();
        var options = [];

        switch (currentStatus) {
            case 'Pending':
                options = ['Discrepancy', 'Rescheduled', 'Revetting'];
                break;
            case 'Discrepancy':
                options = ['Cancelled', 'Revetting', 'Rescheduled'];
                break;
            case 'Rescheduled':
            case 'Cancelled':
                options = ['Discrepancy'];
                break;
            case 'Revetting':
                options = ['Vetted', 'Discrepancy'];
                break;
            case 'Vetted':
                options = ['Revetting'];
                break;
        }

        $(dropdownMenu).children().each(function() {
            var optionText = $(this).text().trim();
            if (options.includes(optionText)) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }

    function updateVettingStatus(rollNumber, vettingStatus, discrepancyDate, discrepancyTime) {
        if (vettingStatus === 'Discrepancy') {
            // Show the discrepancy modal
            $('#discrepancyModal').modal('show');

            // Store roll number for saving later
            $('#discrepancyModal').data('roll-number', rollNumber);
            return; // Prevent further processing until modal is saved
        }
        $.ajax({
            type: 'POST',
            url: '{% url "cv_vetting_portal" %}',
            data: {
                roll_number: rollNumber,
                vetting_status: vettingStatus,
                discrepancy_slot_date: discrepancyDate,
                discrepancy_slot_time: discrepancyTime,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                location.reload();
            },
            error: function(xhr, status, error) {
                alert('An error occurred while updating the vetting status.');
            }
        });
    }

    function saveDiscrepancyDetails() {
        var rollNumber = $('#discrepancyModal').data('roll-number');
        var discrepancyDate = $('#discrepancyDate').val();
        var discrepancyTime = $('#discrepancyTime').val();

        if (!discrepancyDate || !discrepancyTime) {
            alert('Please fill in both date and time.');
            return;
        }

        // Send data via AJAX
        $.ajax({
            type: 'POST',
            url: '{% url "cv_vetting_portal" %}',
            data: {
                roll_number: rollNumber,
                vetting_status: 'Discrepancy',
                discrepancy_slot_date: discrepancyDate,
                discrepancy_slot_time: discrepancyTime,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                $('#discrepancyModal').modal('hide');
                location.reload();
            },
            error: function(xhr, status, error) {
                alert('An error occurred while updating the discrepancy details.');
            }
        });
    }
</script>
</body>
</html>
