{% extends "students/base.html" %}

{% block title %}Student List{% endblock %}

{% block content %}
    <h1>Student List</h1>
    <!-- Add a button to navigate to the requests page -->
    <a href="{% url 'requests' %}">
        <button class="btn btn-secondary mb-3">Requests</button>
    </a>
    <form method="get" action="{% url 'student_detail' %}" class="mb-4">
        <div class="form-group">
            <label for="student_id">Search by Student ID:</label>
            <input type="text" id="student_id" name="student_id" autocomplete="off" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary custom-search-button">Search</button>
    </form>
    <div id="suggestions" class="suggestions"></div>
    {% include 'students/student_table.html' %}
    {% include 'students/change_contact_modal.html' %}
{% endblock %}
